// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Modal
.modal-active{
    display:block;
}

.welcomepage {
    background-image: url('/images/deng.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}
